./helloworld
./docker_debug
./docker_ai
./dddbook
./docker_utilities
./multi_container_app_compose
./working_with_containers
./working_with_images
crt.pem
./dummy.sh
LICENSE
README.md
spin.sig
crt.pem
/Users/home_folder/Desktop/Projects/java/docker_git_repo/dddbook